[Desktop Entry]
Type=Application
Name=bluewhale
Icon=icon-launcher-gallery
Exec=invoker --type=j -s /opt/sdk/bin/bluewhale
Comment=Sailfish UI application


