[Desktop Entry]
Type=Application
Name=Bluewhale
Icon=harbour-bluewhale
Exec=harbour-bluewhale
Comment=Sailfish UI application
X-Nemo-Application-Type=silica-qt5
